/* NavBar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #111;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    width: 80px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.avatar {
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.avatar:hover {
    transform: scale(1.2); /* Adjust the scale factor as needed */
}
